/* globals */
body {
	width: 100vw;
	max-width: 1920px;
	margin: auto;
}
* {
	font-family: 'Inter';
	font-style: normal;
}
li {
	list-style: none;
	padding: 14px 10px;
	text-align: center !important;
}
a {
	text-decoration: none;
	color: #000;
}
.spectral {
	font-family: "Spectral";
}



.carousel-item img{
	aspect-ratio: 11 / 5;
}



/*HEADER */
header {
	padding: 30px 100px;
	background-color: white;
}
.header__title--job {
	font-size: 12px;
	position: relative;
	top: -12px;
}
nav ul {
	font-size: 14px;
}
@media (max-width: 575px) {
	header {
		padding: 30px 0;
	}
	nav {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.header__title {
		text-align: center;
	}
}
@media (min-width: 768px) {
	nav {
		width: 360px !important;
	}
}



/* ARTICLE => #about */
.article-about {
	background-color: #F6D2B8;
	padding: 2em;
	flex-direction: column;
}
.article-about__picture {
	z-index: 1;
}
.article-about__picture img {
	aspect-ratio: 1 / 1;
}
.article-about__picture::before {
	content: '';
	background-color: #E5975F;
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.article-about__part--right {
	align-items: center;
}
.article-about__title {
	text-align: center;
}
@media (min-width: 576px) {
	.article-about {
		padding: 100px;
	}
	.article-about__picture::before {
		height: 230px;
	}
}
@media (min-width: 992px) {
	.article-about {
		flex-direction: row;
	}
	.article-about__picture::before {
		width: 374px;
		height: 329px;
		top: auto;
		bottom: 0;
	}
	.article-about__part--right {
		align-items: start;
	}
	.article-about__title {
		text-align: start;
	}
}



/* MAIN => #galerie */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #807833;
	border-radius:0 ;
}
.nav-pills .nav-link {
	color: #000
}
.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}
.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;
}
.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
}
.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}



/* ARTICLE => #service */
.article-service {
	background-color: #A8D5D8 ;
	position: relative;
}
.article-service__title::after {
	content: '';
	background-color: #1C6474;
	position: absolute;
	width: 30%;
	height: 100%;
	bottom: 0;
	right: 0;
	z-index: 0;
}
.article-service__card {
	height: 220px;
	background-color: white;
	padding: 1em;
	margin: 32px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
@media (min-width: 992px) {
	.article-service__card {
		height: 350px;
		max-width: 350px;
		margin: 0;
	}
	.article-service__title::after {
		width: 100%;
		height: 30%;
	}
}



/* FOOTER */
footer {
	justify-content: center;
	padding: 1em;
	background-color: #D8D3A8;
}
.footer-contact__card {
	min-width: 250px;
	padding-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer__form--input {
	height: 40px;
	background-color: transparent;
	border: solid 1px #000;
	margin-bottom: 20px;
}
.footer__form--text-area {
	height: 100px;
}
.footer__input--submit {
	height: 40px;
	background-color: #BEB45A;
	border: 1px solid #000;
}
.footer__picture {
	align-self: center;
	z-index: 1;
}
.footer__picture img {
	aspect-ratio: 1 / 1;
}
.footer__picture::after {
	content: '';
	background-color: #BEB45A;
	width: 100%;
	height: 30%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
@media (min-width: 768px) {
	footer {
		padding: 100px;
	}
	.footer__form {
		width: 75%;
	}
}
@media (min-width: 992px) {
	footer {
		justify-content: space-between;
	}
	.footer__picture::after {
		width: 380px;
		height: 330px;
	}
}
@media (min-width: 1200px) {
	.footer__picture {
		align-self: flex-start;
	}
}






