@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
body {
    max-width: 1920px;
    margin: auto;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #000;
}
ul {
    list-style: none;;
}
.container, .container-fluid, ul, .row, .row > *, section {
    padding: 0;
    margin: 0;
}



span {
    display: block;
    font-size: 16px;
    font-family: 'Spectral';
    font-weight: 900;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 8px;
}



header {
    padding: 30px 0 !important;
    background-color: #fff;
}
.header__title {
    font-size: 26px;
    margin: 0 auto 8px;
}
.header__links {
    width: 100%;
}
.header__link {
    padding: 14px 10px;
}
@media (width >= 790px) {
    header {
        padding: 30px 100px !important;
    }
    .header__title {
        margin: 0;
    }
    .header__links {
        max-width: 390px;
    }
}



article {
    position: relative;
    background-color: #F6D2B8;
}
article::after {
    content: '';
    width: 100%;
    height: 30%;
    background-color: #E5975F;
    position: absolute;
    top: 0;
    z-index: 0;
}
.article__wrapper {
    position: relative;
    padding: 32px;
    z-index: 1;
}
.article__img--wrapper {
    width: 80%;
}
.article__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article__text--title {
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
}
@media (width >= 650px) {
    .article__wrapper {
        padding: 100px;
    }
    .article__img--wrapper {
        width: 50%;
    }
}
@media (width >= 1000px) {
    article::after {
        width: 374px;
        height: 329px;
        top: 100%;
        transform: translateY(-100%);
    }
    .article__text--wrapper {
        width: 50%;
        padding-left: 20px;
    }
    .article__text--title {
        margin: 0 0 30px;
        text-align: start;
    }
}
@media (width >= 1180px) {
    .article__img--wrapper {
        width: 30%;
    }
    .article__img {
        object-fit: contain;
        object-position: top;
    }
    .article__text--wrapper {
        flex-grow: 2;
    }
    .article__text--wrapper > span {
        width: 50%;
    }
    .article__text--wrapper > p {
        width: 70%;
    }
}



.portfolio {
    padding: 0 8px;
    max-width: 1400px;
}
.portfolio__filters--wrapper {
    margin: 26px 0;
}
.portfolio__btn {
    height: 40px;
    border: none;
    color: #000;
    padding: 0 26px;
    background-color: transparent;
    font-size: 16px;
}
.portfolio__btn--activated {
    background-color: #BEB45A;
    color: #fff;
}
.portfolio__img--wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    margin: 8px 0 8px;
}
.portfolio__img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
@media(width >= 600px) {
    .portfolio__img--wrapper {
        width: 270px;
        padding-bottom: 270px;
        margin: 4px;
    }
}
@media(width >= 768px) {
    .portfolio__img--wrapper {
        width: 240px;
        padding-bottom: 240px;
    }
}
@media(width >= 1024px) {
    .portfolio__img--wrapper {
        width: 320px;
        padding-bottom: 320px;
    }
}
@media(width >= 1220px) {
    .portfolio__img--wrapper {
        width: 380px;
        padding-bottom: 380px;
    }
}
@media(width >= 1400px) {
    .portfolio__img--wrapper {
        width: 440px;
        padding-bottom: 440px;
    }
}



.citation {
    width: 70%;
}
.citation__text {
    font-size: 26px;
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
}
.citation__auteur {
    font-size: 22px;
    font-family: 'Spectral';
    font-weight: 800;
}



.services {
    background-color: #A8D5D8;
    position: relative;
}
.services::after {
    content: '';
    width: 30%;
    height: 100%;
    background-color: #1C6474;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
.services__title {
    font-size: 26px;
    position: relative;
    z-index: 1;
}
.services__cards--wrapper {
    width: 80%;
    padding: 32px 0;
    flex-direction: column;
}
.services__card {
    height: 225px;
    background-color: #fff;
    padding: 16px;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
@media (width >= 1000px) {
    .services::after {
        width: 100%;
        height: 30%;
        top: 100%;
        transform: translateY(-100%);
    }
    .services__cards--wrapper {
        width: 90%;
        max-width: 1320px;
        flex-direction: row;
    }
    .services__card {
        width: 30%;
        height: 340px;
    }
}



footer {
    background-color: #D8D3A8;
    padding: 100px !important;
    position: relative;
}
footer::after {
    content: '';
    width: 100%;
    height: 30%;
    bottom: 0;
    right: 0;
    background-color: #BEB45A;
    position: absolute;
    z-index: 0;
}
.footer__form {
    width: 70%;
}
.footer__form--input {
    height: 40px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #000;
    z-index: 1;
}
.footer__form--text-area {
    height: 100px;
}
.footer__form--submit {
    width: 100%;
    height: 40px;
    background-color: #BEB45A;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.footer__section--right {
    width: 80%;
    margin: auto;
    padding-bottom: 80%;
    position: relative;
}
.footer__img {
    height: 100%;
    max-height: 420px;
    width: 100%;
    max-width: 420px;
    object-fit: contain;
    object-position: top;
    position: absolute;
    z-index: 1;
}
@media (width >= 650px) {
    .footer__section--right {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media (width >= 1000px) {
    footer {
        display: flex;
    }
    footer::after {
        width: 380px;
        height: 330px;
    }
    .footer__section--left {
        width: 50%;
    }
    .footer__section--right {
        width: 50%;
        padding-bottom: 50%;
        margin: 0;
    }
}
@media (width >= 1200px) {
    .footer__section--left {
        width: 65%;
    }
    .footer__section--right {
        width: 35%;
        padding-bottom: 35%;
    }
}
@media (width < 300px) {
    footer {
        padding: 100px 10px !important;
    }
    .footer__section--left {
        width: 80%;
        margin: auto;
    }
    .footer__section--right {
        width: 80%;
    }
    .footer__form {
        width: 100%;
    }
}